<footer class="footer">
    <div class="footer_container">
        <section>
            <h2 class="footer_title">Sobre</h2>
            <p class="footer_about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet sit amet sapien id imperdiet. Phasellus vitae turpis lectus. Nullam nec dolor eu quam convallis dignissim vel vitae dolor. Nullam placerat luctus justo et consequat. Maecenas venenatis, ligula ac gravida ultrices, nulla risus viverra sapien, posuere rutrum leo diam eu augue. Pellentesque aliquam convallis aliquet. Nulla at odio sodales enim ultrices congue. Sed id nulla vitae erat auctor ultrices in ut magna. Mauris mollis risus velit, ut tincidunt nisl ultrices et. Suspendisse maximus lacus a aliquam blandit. Quisque nec risus dapibus, rhoncus velit id, ultrices dolor. Nunc iaculis pretium arcu, vitae ultrices risus fringilla a. Fusce non finibus nunc, id accumsan nibh. Duis sit amet luctus mi, et gravida sapien.
            </p>
        </section>
        <address>
            <h2 class="footer_title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 00000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 00000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer_copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
